<bcgov-page fullHeightScroll="true">
  <ng-container headerMenuRight>
    <a [matMenuTriggerFor]="utilitiesMenu" class="menu-link">CS Utilities</a>
    <mat-menu #utilitiesMenu="matMenu">
      <a mat-menu-item routerLink="/ui/utilities/point-offset">Point Offset</a>
      <a mat-menu-item routerLink="/ui/utilities/distance-angles">Distance &amp; Angles</a>
      <a mat-menu-item routerLink="/ui/utilities/coordinate-system-conversion">Coordinate System Conversion</a>
      <a mat-menu-item routerLink="/ui/utilities/meridian-convergence">Meridian Convergence/Point SF</a>
      <a mat-menu-item routerLink="/ui/utilities/scale-factor-tt-correction">Scale Factor &amp; TT correction</a>
      <a mat-menu-item routerLink="/ui/utilities/reduction-from-ellipsoid">Reduction from Ellipsoid</a>
      <a mat-menu-item routerLink="/ui/utilities/reduction-to-ellipsoid">Reduction To Ellipsoid</a>
    </mat-menu>
  </ng-container>
    <router-outlet></router-outlet>
</bcgov-page>
